@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cinzel/v17/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-image: url(./assests/bg.jpg);
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 110px;
    border-bottom: 1px solid #e5e5e5;


}

.nav ul a {

    text-decoration: none;
    list-style: none;
    font-family: 'Cinzel';
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    display: inline-block;
    padding: 30px;
    color: #333333;
    cursor: pointer;
}

.new_nav {
    display: flex !important;
    list-style: none;
}

.dropdown-menu li a {
    font-size: 18px !important;
    border-bottom: 1px solid rgb(190, 26, 26) !important;
    padding: 2px !important;
}

.a {
    margin-top: -10px !important;
    border-top: 5px solid #543100 !important;
}

.dropdown-menu li .c {
    border-bottom: none !important;
    margin-bottom: -20px !important;
}

.nav ul a:hover {
    color: #6d4412;
}

.nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.separation hr {
    color: rgb(7, 0, 0);
    display: flex;
    margin: 0 auto;
    height: 16px;
    width: 81%;

}

.separations {
    display: none;
}

.navbar {
    display: none !important;
}

.middle-text {
    font-family: "Cinzel, Arial, Helvetica, sans-serif";
    text-align: center;
    font-size: 34px;
    line-height: 1.41;
    font-weight: bolder;
    margin-top: 20px;
}

.new-text1 h3, .new-text2 h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Cinzel, Arial, Helvetica, sans-serif";
    line-height: 1.2;
    font-weight: bold;
    color: #53504b;

}

.cc {
    background-color: #333333;
    display: flex;
    justify-content: center;
    color: #e5e5e5;
    text-align: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.top {
    display: flex;
    justify-content: right;
}

.new-text3 h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Cinzel, Arial, Helvetica, sans-serif";
    line-height: 1.2;
    font-weight: bold;
    color: #53504b;
}


.new-text1 a, .new-text2 a, .new-text3 a, .links3 span a, .links4 a {
    color: #844e02;
    text-decoration: none;
}

.main_body {
    background-image: url(./assests/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
    margin-top: 30px;

}

.links div ul, .links div ul a {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-family: "Cinzel, Arial, Helvetica, sans-serif";
    margin-top: 10px;
    gap: 122px;
    cursor: pointer;
    color: #53504b;
}

.links2 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.links2 p a {
    color: #53504b;
    font-family: "Cinzel, Arial, Helvetica, sans-serif";
    text-decoration: none;
    font-size: 19px;
}

.links3 {
    display: flex;
    justify-content: center;
}

.links3 span {
    color: #53504b;
    font-family: "Cinzel, Arial, Helvetica, sans-serif";
    text-transform: uppercase;
    font-size: 19px;
}

.links4 p {
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.footer {
    background-color: #333333;
    padding: 10px;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    color: #dadada;
}
.footer ul li {
   margin-top: 10px;
   list-style: none;
   font-size: 12px;
}

/* MEDIA QUERIES */
@media(max-width:873px) {
    .nav ul a {
        display: none !important;
    }

    .navbar {

        display: block !important;
    }

    .icon {
        color: #000 !important;

    }

    .collapse {
        background-color: #6d4412;

    }

    .collapse li:hover {
        background-color: #543100;
    }

    .nav-item a {
        padding: 8px;
        color: aliceblue;
        border-bottom: 2px solid #dadada !important;

    }

    .nav-items a {
        padding: 8px;
        color: aliceblue;
        margin-bottom: -7px !important;
    }

    .separation {
        display: none;
    }

    .header {
        display: none;
    }

    .container-fluid img {
        margin-top: 10px !important;
    }

    .nav-link li {
        list-style: none !important;
    }
}

@media(max-width:592px) {
    .links {
        display: flex;
        justify-content: center;
    }

    .links div ul {
        display: inline-block;
    }
    .footer ul li {
        font-size: 10px;
     }
     
}

@media(max-width:351px) {
    .links3 span {
        font-size: 16px;
    }
    .footer ul {
       display: flex;
       justify-content: space-around;
     }
    

}